/* body
{
    background-color: aqua;
} */
 *
 /* {
    margin: 0;
    padding: 0;
 } */
/* #container
{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-color: aqua;
   display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
    /* column-gap: 20px; */
    row-gap: 20px;
    
    
  
    
}
 .div3
{
   
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
    align-items: center;
   
   

    
} 


 */
